<template>
  <div class="home">
    <div style="text-align: left; padding-left: 25px;">
      <h2>Obras Agregadas</h2>
      <p>texto {{info}}</p>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import {info} from  "../services/reviews.service.js";
//import {reviews} from "../services/reviews.service.js"

export default {
  name: "HomeView",
  data(){
    return{
      info,
      //reviews:[]
    }
  },
  mounted(){
    this.getInfo();
  },
  methods:{
    async getInfo(){
      const response = await info();
      this.info = response.data;
    },
    /*async getReviews(){
      const response = await reviews();
      this.reviews = response.data;
    }*/
  }
};
</script>
