<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Nav-bar",
  props: {
    title: {
      type: String,
      default: "Titulo",
    },
  },
};
</script>
